<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body class="index">
        <h1><%= greeting %></h1>
        <div class="goto-buttons">
            <form action="/tasks">
                <input class="goto-button" type="submit" value="<%= gotoTaskList %>" />
            </form>
            <form action="/add">
                <input class="goto-button" type="submit" value="<%= gotoAddTask %>" />
            </form>
        </div>
    </body>
</html>
