<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body class="index">
        <h1><%= greeting %></h1>
        <div class="tasks">
            <form class="new-task-form">
                <input type="text" name="task-name"><br>
                <input type="text" name="task-description"><br>
                <input type="submit" value="<%= add_task_button %>"><br>
            </form>
            <ul class="tasks-list">
                <% tasks.forEach(function(task){ %>
                    <%- include('task', task); %>
                <% }); %>
            </ul>
        </div>
    </body>
</html>
