<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="js/tasks-processing.js"></script>
        <script src="js/ejs.min.js"></script>
    </head>
    <body class="index" onload="onPageLoad()">
    </body>
</html>
