body.index {
    text-align: center;
}

input.complete-task-button {
    margin: 0.5em;
    width: 10em;
    text-align: center;
}

li.task-entry {

}

ul.task-list {
    list-style-type: none;
}

div.task-name {

}

div.task-status, div.expired-task-status {

}

div.expired-task-status {
    color: red;
}

input.complete-task-button {

}

div.task-complete-date {

}

form.task-input {
    display: flex;
    justify-content: center;
}

td.task-input-description, td.task-input-fields {
    padding: 0.25em;
}

td.task-input-description {
    text-align: right;
}

td.task-input-fields {
    text-align: left;
}
